[Desktop Entry]
Name=TkInfo
Comment=Browser for info files
Exec=tkinfo
Type=Application
Terminal=false
MapNotify=false
Encoding=UTF-8
Categories=Utility;
Icon=tkinfo.xpm
# vi: encoding=utf-8
