[Desktop Entry]
Name=TkInfo
Comment=Browser for info files
Exec=tkinfo
Type=Application
Terminal=false
Categories=Utility;
Icon=tkinfo
# vi: encoding=utf-8
